[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
tortoise-orm = {extras = ["asyncodbc"], version = "*"}
loguru = "*"
mangum = "*"
pipenv = "==2023.7.4"
python-dotenv = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
#python_version = "3.11"
#python_full_version = "3.11.4"
